@inherits ReactiveLayoutBase
@inject IComponentContext context

<div class="customSidebar">
    <NavMenu />
</div>

<div class="main">
    @*<div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank" class="ml-md-auto">About</a>
    </div>*@

    <div class="mainContent px-4">
        @Body
    </div>
</div>

@functions
{
        MainViewModel Vm;


    protected override Task OnInitAsync()
    {
        if (context.IsConnected)
        {
            var navService = Locator.Current.GetService<INavigationService>();
            Vm = Locator.Current.GetService<MainViewModel>();

            RegisterViewModel(Vm);

            navService.NavigateToAsync(Vm.ListViewDemoViewModel);
        }
        return base.OnInitAsync();
    }
}
