@using Microsoft.AspNetCore.Components
@using System.Collections.Specialized
@using BlazorUIComponents.Controls

@inherits ComponentBase

<div class="content">
    <h2 class="ui block header" onclick="@(e=>OnItemClick(e))">
        @DisplayName
    </h2>
    @*<div class="content">*@

    @*</div>*@
</div>
@ChildContent

@functions{

    [Parameter]
    private string Classes { get; set; }

    [Parameter]
    private string DisplayName { get; set; }

    [CascadingParameter] ListView Parent { get; set; }

    [Parameter]
    private object Model { get; set; }

    //[Parameter]
    //private TItem ActiveItem { get; set; }

    [Parameter]
    public int Index { get; private set; }

    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    private Func<UIMouseEventArgs, Task> ItemClicked { get; set; }

    private Task OnItemClick(UIMouseEventArgs e)
    {
        if (Parent.SelectionMode == SelectionMode.None)
        {
            if (ItemClicked != null)
            {
                return ItemClicked.Invoke(e);
            }
            else
            {
                return Task.CompletedTask;
            }
        }
        else if (Parent.SelectionMode == SelectionMode.Single)
        {
            //Parent.SetSelectedItem(this.Model);
        }
        return Task.CompletedTask;
    }



}
